<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/11.png);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Tissue Regenaration</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Tissue Regenaration</li>
            </ul>
        </div>
    </div>
</div>

<!-- <div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p>Better Physics.  Better Outcome</p>
    </div>
</div> -->
<div class=" container d-flex  ptb-75 flex-column membershipcolor justify-content-center align-items-center dental-tourism-choose-content ">
    <h2>Better Physics. Better Deign.  Better Outcome</h2>
    <div class="choose-inner-content me-5 ">
        <!-- <i class='bx bxs-badge-check'></i> -->
        <h5 >Game changing shockwave technology</h5>
    </div> 
</div>

<!-- cards -->
<div class="skin-care-services-area pt-100 pb-75 bg-eff8fb">
    <div class="container">
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/tissueRegen" class="d-block">
                            <img src="../../../../assets/images/tissue regen/ortho gold.png" alt="image">
                        </a>
                 
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/tissueRegen" >
                                <li routerLink="/tissueRegen"  class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a>OrthoGold</a>
                                </li>
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/tissueRegen" class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/tissue regen/uro gold.png" alt="image">
                        </a>
                      
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/tissueRegen" >
                                UroGold
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/tissueRegen"  class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/tissue regen/derma gold.png" alt="image">
                        </a>
                
                    </div>
                    <div class="services-content">
                        <h3 class="text-center">
                            <a routerLink="/tissueRegen" >
                                DermaGold
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" container d-flex  ptb-75 flex-column membershipcolor justify-content-center align-items-center dental-tourism-choose-content ">
    <h2>Welcome to SoftWave — Redefining Healing Technology</h2>
    <div class="choose-inner-content me-5 ">
        <!-- <i class='bx bxs-badge-check'></i> -->
        <h5 class="text-center">Our proprietary electrohydraulic acoustic shockwave device is at the forefront of medical innovation. With its cutting-edge design, SoftWave enables maximum tissue penetration, unlocking the full potential of biological effects for unparalleled healing.</h5>
    </div> 
</div>



<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/tissue regen.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>How does it work?</h2>
                <p>Upon delivery, SoftWave triggers a cellular response that activates the body's natural healing process. Patients experience the transformative benefits, including</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Increased blood supply
                    </h4>
                    <!-- <p>PRP (Platelet Rich Plasma) treatment stimulates the 
                        generation of collagen and elastin, vital for firmer and younger-looking skin. It's a 
                        fast, safe, and chemical-free procedure that doesn't require surgery or medication.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Promotion of angiogenesis
                    </h4>
                    <!-- <p>PRP skin needling, a non-invasive treatment, leverages the 
                        healing power of your own blood to address various skin conditions, including stretch 
                        marks. It's a safe and efficient procedure typically performed by registered nurses in 
                        hygienic clinics.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Modulation of inflammation
                    </h4>
                    <!-- <p>PRP for stretch marks can also help with wrinkles, fine lines, 
                        acne scarring, uneven skin tone, and loose or sagging skin. Appointments are quick 
                        (30-45 minutes) with minimal recovery time.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Activation of resident stem cells
                    </h4>
                    <!-- <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Restoration of tissue elasticity
                    </h4>
                    <!-- <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Endogenous growth factor activation
                    </h4>
                    <!-- <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p> -->
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="container pt-100 pb-75">
    <div class="row align-items-center">
  
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>Treating the cause, not only the symptoms</h2>
                <p>SoftWave UroGold's patented technology and protocols offers providers versatility and innovation for long term solutions</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Non-invasive
                    </h4>
                    <!-- <p>PRP (Platelet Rich Plasma) treatment stimulates the 
                        generation of collagen and elastin, vital for firmer and younger-looking skin. It's a 
                        fast, safe, and chemical-free procedure that doesn't require surgery or medication.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Quick treatment times
                    </h4>
                    <!-- <p>PRP skin needling, a non-invasive treatment, leverages the 
                        healing power of your own blood to address various skin conditions, including stretch 
                        marks. It's a safe and efficient procedure typically performed by registered nurses in 
                        hygienic clinics.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Fewer treatments
                    </h4>
                    <!-- <p>PRP for stretch marks can also help with wrinkles, fine lines, 
                        acne scarring, uneven skin tone, and loose or sagging skin. Appointments are quick 
                        (30-45 minutes) with minimal recovery time.
                    </p> -->
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>No side effects
                    </h4>
                    <!-- <p>A small blood sample is processed and concentrated to 
                        create a healing PRP solution, applied to the target area using a specialized 
                        microneedler. Red LED light reduces inflammation and speeds up healing post-treatment.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="../../../../assets/images/treatment/tissue regen equipment.png" alt="choose-image">
                <!-- <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button> -->
            </div>
        </div>
    </div>
</div>

<app-appointment></app-appointment>
<!-- cards -->



