<div class="skin-care-services-area pt-100 pb-75 bg-eff8fb">
    <div class="container">
        <div class="section-title">
        <button (click)="trigger()" class="skin_arth_buttons">
            <span class="sub-title main-color d-flex justify-content-center">
                <!-- <i class="flaticon-198-hashtag-1"></i> -->Spa Treatment
            </span>
        </button>
        <button (click)="newTrigger()" class="skin_arth_buttons">
            <span class="sub-title main-color">
                <!-- <i class="flaticon-198-hashtag-1"></i> -->Osteoarthritis Treatment
            </span>
        </button>
            <h2>Our Most Popular Services</h2>
        </div>
        <div *ngIf="skin" class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/prfFillers" class="d-block">
                            <img src="../../../../assets/images/prf img/3.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-172-skin-care"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/prfFillers">
                                PRF fillers
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/prpFacial" class="d-block">
                            <img src="../../../../assets/images/modeling/8.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-173-acupuncture"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/prpFacial">
                                Beauty And Model/Face
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/breastUplift" class="d-block">
                            <img src="../../../../assets/images/cosmetics/1.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-174-hair-removal"></i>
                        </div> -->
                    </div>
                    <div class="services-content  text-center">
                        <h3>
                            <a routerLink="/breastUplift">
                                Cosmetics
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/hairRemoval" class="d-block">
                            <img src="../../../../assets/images/hair removal/3.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-176-laser"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/hairRemoval">
                                Hair Removal
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card ">
                    <div class="services-image">
                        <a routerLink="/hairRes" class="d-block">
                            <img src="../../../../assets/images/hair res/1.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-175-botox"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/hairRes">
                                Hair Restoration
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card ">
                    <div class="services-image">
                        <a routerLink="/sexualHealth" class="d-block">
                            <img src="../../../../assets/images/o shot/1.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-177-facial-treatment"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/sexualHealth text-center">
                                Sexual Health
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ortho" class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/osteoarthritis" class="d-block">
                            <img src="../../../../assets/images/orth/11.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-172-skin-care"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                Knee
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/osteoarthritis" class="d-block">
                            <img src="../../../../assets/images/orth/10.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-173-acupuncture"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                Shoulder
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/osteoarthritis" class="d-block">
                            <img src="../../../../assets/images/orth/12.png" alt="image">
                        </a>
                        <!-- <div class="icon">
                            <i class="flaticon-174-hair-removal"></i>
                        </div> -->
                    </div>
                    <div class="services-content text-center">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                Hips
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>       
        </div>      
</div>

