<!-- Page Banner -->
<!-- <div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content ">
            <h2 class="d-flex justify-content-start"></h2>
            <ul >
                <li><a routerLink="/home">Home</a></li>
                <li>Appointment</li>
            </ul>
        </div>
    </div>
</div> -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/12.png);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Make An Appointment</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Appointment</li>
            </ul>
        </div>
    </div>
</div>
<app-features></app-features>

<app-appointment></app-appointment>