<div class="skin-care-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="skin-care-banner-content">
                    <!-- <span class="sub-title">
                        # Skin Treatment
                    </span> -->
                    <h1>Rejuvenate Naturally With Modern Regenerative Health</h1>
                    <p>Rejuvenate Naturally with Modern Regenerative Health: Your Gateway to Wellness & Beauty.</p>
                    <a routerLink="/spaTreatments" class="default-btn two">View Treatments</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="skin-care-banner-image">
                    <img src="assets/images/skin-care/banner/banner.png" alt="image">
                    <!-- <img src="../../../../../assets/images/banner img.jpg" class="bannerimg" height="1030" width="1120" alt="image"> -->
                </div>
            </div>
        </div>
    </div>
    <div class="skin-care-banner-shape">
        <img src="assets/images/skin-care/banner/shape.png" alt="image">
    </div>
</div>