<div
    class="page-banner-area three ptb-100"
    style="background-image: url(assets/images/hospital/page-banner/bg-3.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Osteoarthritis Treatment</h2>
            <ul class="pages-list">
                <li><a routerLink="/index-5">Home</a></li>
                <li>Osteoarthritis Treatment</li>
            </ul>
        </div>
    </div>
</div>

<div class="page-banner-area osteoText ptb-100">
    <div class="container">
        <p >Osteoarthritis is a common joint condition that can cause debilitating pain, stiffness, and inflammation. If you're suffering from osteoarthritis, you know how much it can interfere with your daily life.
        At our clinic, we offer advanced treatment to help you manage your osteoarthritis pain and improve your function. Let it be any joint - your hip, your knee or your shoulder, we got you covered!</p>
    </div>
</div>
<div class="skin-care-services-area pt-100 pb-75 bg-eff8fb">
    <div class="container">
        <div  class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a class="d-block">
                            <img src="../../../../assets/images/orth/11.png" alt="image">
                        </a>
                 
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                <li routerLink="/osteoarthritis" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a >Knee</a>
                                </li>
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/orth/10.png" alt="image">
                        </a>
                      
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/osteoarthritis">
                                Shoulder
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a  class="d-block">
                            <img class="prfImgs" src="../../../../assets/images/orth/12.png" alt="image">
                        </a>
                
                    </div>
                    <div class="services-content">
                        <h3>
                            <a >
                                Hip
                            </a>
                        </h3>
                        <!-- <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-100 pb-75">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-image">
                <img src="assets/images/dental-tourism/choose/choose.png" alt="choose-image">
                <button class="video-btn" (click)="openPopup()">
                    <i class='bx bx-play'></i>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="dental-tourism-choose-content">
                <!-- <span class="sub-title">
                    <i class="flaticon-198-hashtag-1"></i>
                    Why Choose Us
                </span> -->
                <h2>The Treatment</h2>
                <p>We offer one of the most effective treatment, which is a combination of Fluoroscopy, Arthrogram, and AARP injection</p>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Fluoroscopy</h4>
                    <p>Real-time X-ray imaging for accurate diagnosis of joint pain and inflammation.</p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>Arthrogram</h4>
                    <p>Detailed view of joint structures with contrast dye to identify tears, loose bodies, and inflammation.</p>
                </div>
                <div class="choose-inner-content">
                    <i class='bx bxs-badge-check'></i>
                    <h4>AARP injection</h4>
                    <p>Powerful healing agent with concentrated platelets, lubricant to reduce friction and pain, and medication to reduce inflammation.</p>
                </div>
                <br>
                <p>
                    When used in combination, it can be a highly effective treatment for your osteoarthritis pain. This treatment combination can help to reduce pain, improve function, and slow the progression of the condition.</p>
            </div>
        </div>
    </div>
</div>




