<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(../../../../assets/images/bannerImgs/Contact\ Us.png);
    width: 100%; height: 82vh; object-fit: contain; overflow: hidden"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Contact Us</h2>
            <ul class="pages-list">
                <li><a routerLink="/home">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="hospital-contact-form">
            <div class="section-title with-hospital-color">
                <span class="sub-title">Let Us Help You</span>
                <h2>Have Queries Before The Appointment</h2>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required placeholder="First Name">
                        </div>
                      
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required placeholder="Your email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="phone_number" required class="form-control" placeholder="Your phone">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="msg_subject">Primary Concern</label>
                            <select name="msg_subject" id="msg_subject" class="form-control" required>
                                <option value="" class="toggle-link">Select a Concern</option>
                                <option value="Option 1">Acne & Acne Scars</option>
                                <option value="Option 2">Anti-Aging</option>
                                <option value="Option 3">Cellulite</option>
                                <option value="Option 4">Double Chin</option>
                                <option value="Option 5">Dry Skin</option>
                                <option value="Option 6">Hair Loss</option>
                                <option value="Option 7">Loose Body & Facial Skin</option>
                                <option value="Option 8">Muscle Weakness</option>
                                <option value="Option 9">Scar Repair</option>
                                <option value="Option 10">Stretch Marks</option>
                                <option value="Option 11">Stubborn Fat</option>
                                <option value="Option 12">Sun Spots</option>
                                <option value="Option 13">Toe Nail Fungus</option>
                                <option value="Option 14">Unwanted Hair</option>
                                <option value="Option 15">Wrinkles & Aging Skin</option>

                                <!-- Add more options as needed -->
                            </select>
                        </div>                        
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="msg_subject">Primary Treatment Of Intrest</label>
                            <select name="msg_subject" id="msg_subject" class="form-control" required>
                                <option value="">Select a Treatment</option>
                                <option value="Option 1">Accent Prime</option>
                                <option value="Option 2">AviClear Acne Treatment</option>
                                <option value="Option 3">Botox</option>
                                <option value="Option 4">Cellulite Reduction</option>
                                <option value="Option 5">Chemical Peels</option>
                                <option value="Option 6">ClearLift</option>
                                <option value="Option 7">Diamond Glow</option>
                                <option value="Option 8">Dye-VL</option>
                                <option value="Option 9">Fat Reduction</option>
                                <option value="Option 10">Hair Restoration</option>
                                <option value="Option 11">Harmony XL Pro</option>
                                <option value="Option 12">Hybrid CO2</option>
                                <option value="Option 13">IV Vitamin Therapy</option>
                                <option value="Option 14">Juvederm Voluma XC</option>
                                <option value="Option 15">Juvederm Volbella XC'</option>
                                <option value="Option 16">Kybella</option>
                                <option value="Option 17">Laser Hair Removal</option>
                                <option value="Option 18">Micro-Needling</option>
                                <option value="Option 19">Opus</option>
                                <option value="Option 20">Tattoo Removal</option>
                                <option value="Option 21">TED Hair Restoration</option>
                                <option value="Option 22">TruSculpt Flex</option>
                                <option value="Option 23">TruSculpt ID</option>
                                <!-- <option value="Option 15">TED Hair Restoration</option> -->
                                <!-- Add more options as needed -->
                            </select>
                        </div>        
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label for="msg_subject">Where Are You In The Decision Making Process</label>
                            <select name="msg_subject" id="msg_subject" class="form-control" required>
                                <!-- <option value="" class="toggle-link">Where Are You In The Decision Making Process</option> -->
                                <option value="Option 1" class="toggle-link">Make Your Selection</option>
                                <option value="Option 2">I have no idea what I need/want</option>
                                <option value="Option 3">I've researched a little but not sure</option>
                                <option value="Option 4">I've researched but have more questions</option>
                                <option value="Option 5">I know what I am looking for</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>                        
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="message" class="form-control" cols="30" rows="5" required placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <button type="submit" class="default-btn">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-contact-info></app-contact-info>

<!-- <div class="contact-area ptb-100">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-lg-6 col-sm-6 p-3">
                <iframe src="https://www.google.com/maps/place/155+Main+Dunstable+Rd,+Nashua,+NH+03060,+USA/@42.7470459,-71.4895332,17z/data=!3m1!4b1!4m6!3m5!1s0x89e3b747fc2172e9:0xb93a4783ab8beff6!8m2!3d42.7470459!4d-71.4895332!16s%2Fg%2F11b8v4q177?entry=ttu" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 col-sm-6 p-3">
                <iframe src="https://www.google.com/maps/place/1+Stiles+Rd,+Salem,+NH+03079,+USA/@42.7748602,-71.2492616,17z/data=!3m1!4b1!4m6!3m5!1s0x89e3abcfae6ff085:0xb02f36e8f0c1714d!8m2!3d42.7748602!4d-71.2492616!16s%2Fg%2F11b8v40x3g?entry=ttu"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div> -->
<!-- <iframe src="https://www.google.com/maps/place/1+Stiles+Rd,+Salem,+NH+03079,+USA/@42.7748602,-71.2492616,17z/data=!3m1!4b1!4m6!3m5!1s0x89e3abcfae6ff085:0xb02f36e8f0c1714d!8m2!3d42.7748602!4d-71.2492616!16s%2Fg%2F11b8v40x3g?entry=ttu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->